[mysqld]
default_authentication_plugin=mysql_native_password
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
;general_log=1
;general_log_file=/var/lib/mysql/general-query.log
bind-address    = 0.0.0.0
log_bin_trust_function_creators=1
log_output = FILE
slow_query_log = ON
slow_query_log_file = /mysql-slow-log/slow_querie.log
long_query_time = 10
log_slow_admin_statements = ON
log_queries_not_using_indexes = OFF
log_slow_extra = ON
innodb_monitor_enable=all
;userstat=1
;log_slow_rate_limit=100
;log_slow_rate_type=query
;log_slow_verbosity=full
;slow_query_log_always_write_time=1
;slow_query_log_use_global_control=all
;innodb_monitor_enable=all
;userstat=1